# PySpark - Project Tweets

In [29]:
# Load the libraries
import os
import numpy as np
import pandas as pd
from pyspark.sql.functions import to_timestamp
from pyspark import SparkConf

from pyspark.sql.types import *
from pyspark.ml import Pipeline
from pyspark.sql import functions as f
from pyspark.sql.functions import udf, StringType
from pyspark.sql import SparkSession, functions as F
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.feature import OneHotEncoder, VectorAssembler, StringIndexer

# Initialize Spark Session

In [2]:
spark = SparkSession.builder.appName('project_tweets').getOrCreate()

24/04/25 22:31:27 WARN Utils: Your hostname, muhammad-Vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/04/25 22:31:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/25 22:31:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Read the Dataset

In [3]:
# Load the ProjectTweets into Hadoop in the named folder 'CA2'

data = spark.read.csv('hdfs://localhost:9000/CA2/ProjectTweets.csv', header=True, inferSchema =True)

In [4]:
# Display the structure of schema
data.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- 1467810369: long (nullable = true)
 |-- Mon Apr 06 22:19:45 PDT 2009: string (nullable = true)
 |-- NO_QUERY: string (nullable = true)
 |-- _TheSpecialOne_: string (nullable = true)
 |-- @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D: string (nullable = true)

# Rename Target Column

In [5]:
old_columns = data.columns

In [6]:
new_row = Row(*old_columns)(*old_columns)

In [7]:
new_df = spark.createDataFrame([new_row], old_columns)

In [8]:
combined_df = new_df.union(data)

In [9]:
# Renomeie as colunas
new_column_names = ["index", "ids", "date", "flag", "user", "text"]
df_renamed = combined_df.toDF(*new_column_names)

In [10]:
# Mostrar o DataFrame com as colunas renomeadas
df_renamed.show(3)

+-----+----------+--------------------+--------+---------------+--------------------+
|index|       ids|                date|    flag|           user|                text|
+-----+----------+--------------------+--------+---------------+--------------------+
|    0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|    1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|    2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
+-----+----------+--------------------+--------+---------------+--------------------+
only showing top 3 rows

In [11]:
df_renamed.printSchema()

root
 |-- index: string (nullable = true)
 |-- ids: string (nullable = true)
 |-- date: string (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)

In [12]:
# Obtém o número de linhas
num_rows = df_renamed.count()
print(f"Número de linhas: {num_rows}")

# Obtém o número de colunas
num_columns = len(df_renamed.columns)
print(f"Número de colunas: {num_columns}")

Número de linhas: 1600000
Número de colunas: 6

In [13]:
df_renamed.summary().show()

24/04/25 22:32:30 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+--------------------+--------------------+--------+-------------------+--------------------+
|summary|             index|                 ids|                date|    flag|               user|                text|
+-------+------------------+--------------------+--------------------+--------+-------------------+--------------------+
|  count|           1600000|             1600000|             1600000| 1600000|            1600000|             1600000|
|   mean|          799999.5|1.9988175522956276E9|                NULL|    NULL|4.325887521835714E9|                NULL|
| stddev|461880.35968924535|1.9357607362269327E8|                NULL|    NULL|5.16273321845489E10|                NULL|
|    min|                 0|          1467810369|Fri Apr 17 20:30:...|NO_QUERY|       000catnap000|                 ...|
|    25%|          400000.0|       1.956901697E9|                NULL|    NULL|            32508.0|                NULL|
|    50%|          800000.0|       2.002093535E9|                NULL|    NULL|           130587.0|                NULL|
|    75%|         1200038.0|       2.177048867E9|                NULL|    NULL|          1100101.0|                NULL|
|    max|            999999|          2329205794|Wed May 27 07:27:...|NO_QUERY|         zzzzeus111|ï¿½ï¿½ï¿½ï¿½ï¿½ß§...|
+-------+------------------+--------------------+--------------------+--------+-------------------+--------------------+

In [30]:
conf = SparkConf().set("spark.sql.legacy.timeParserPolicy", "LEGACY")
spark = spark.builder.config(conf=conf).getOrCreate()

In [36]:
tweets = tweets.select("ids, date", "user", "text")

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `ids, date` cannot be resolved. Did you mean one of the following? [`date`, `ids`, `index`, `flag`, `text`].;
'Project ['ids, date, user#54, text#55]
+- Project [index#50, ids#51, to_timestamp(date#52, Some(EEE MMM dd HH:mm:ss zzz yyyy), TimestampType, Some(Europe/Dublin), false) AS date#928, flag#53, user#54, text#55]
   +- Project [0#29 AS index#50, 1467810369#30 AS ids#51, Mon Apr 06 22:19:45 PDT 2009#31 AS date#52, NO_QUERY#32 AS flag#53, _TheSpecialOne_#33 AS user#54, @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D#34 AS text#55]
      +- Union false, false
         :- LogicalRDD [0#29, 1467810369#30, Mon Apr 06 22:19:45 PDT 2009#31, NO_QUERY#32, _TheSpecialOne_#33, @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D#34], false
         +- Project [cast(0#17 as string) AS 0#41, cast(1467810369#18L as string) AS 1467810369#42, Mon Apr 06 22:19:45 PDT 2009#19, NO_QUERY#20, _TheSpecialOne_#21, @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D#22]
            +- Relation [0#17,1467810369#18L,Mon Apr 06 22:19:45 PDT 2009#19,NO_QUERY#20,_TheSpecialOne_#21,@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D#22] csv

In [31]:
tweets = df_renamed.withColumn("date", to_timestamp(df_renamed["date"], "EEE MMM dd HH:mm:ss zzz yyyy"))

In [32]:
tweets.show(truncate=True, n=5)

+-----+----------+-------------------+--------+---------------+--------------------+
|index|       ids|               date|    flag|           user|                text|
+-----+----------+-------------------+--------+---------------+--------------------+
|    0|1467810369|2009-04-07 06:19:45|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|    1|1467810672|2009-04-07 06:19:49|NO_QUERY|  scotthamilton|is upset that he ...|
|    2|1467810917|2009-04-07 06:19:53|NO_QUERY|       mattycus|@Kenichan I dived...|
|    3|1467811184|2009-04-07 06:19:57|NO_QUERY|        ElleCTF|my whole body fee...|
|    4|1467811193|2009-04-07 06:19:57|NO_QUERY|         Karoli|@nationwideclass ...|
+-----+----------+-------------------+--------+---------------+--------------------+
only showing top 5 rows